*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    background-color: var(--white);
    color: #2C2C2C;
}
:root{

    --white: #F6F6F6;
    --primary-color: #d63a25;
    --secundary-color: #fc4c35;
    --contrast-color: #4a4a4a;
    --text-color: #2C2C2C;

}

.max-width{
    width: 100%;
    max-width: 125rem;
    padding: 0.3rem;
    margin: 0 auto;
    margin-bottom: 20rem;
}
