header{

    padding: 1.5rem;
    min-height: 100vh;
}

.container{
   
    width: 92%;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.banner-container{

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 57%;
    height: 40%;
    border: solid 3px var(--tittle-color);
    overflow: hidden;
    transition: transform 1s;
    
}

.banner{
   
    display: flex;
    
}
  

.buttons-header{

  display: flex;
  justify-content: center;
}

.container .buttons-header button{

  padding: 1rem 1.5rem;
  margin-top: 4rem;
  min-width: 35%;
  border-radius: 1rem;
  border: none;
  margin: 3rem 1rem 0;
}

.divulgar{

  background-color: var(--primary-color);
  color: var(--background-color);
}

.adotar{

  background-color: var(--contrast-color);
}