.home{

    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    margin-bottom: 0;
    background-image: radial-gradient(#fff, #c7c7c7);
}

.home-text{
    max-width: 37rem;
    text-align: justify;
    display: flex;
    flex-direction: column;

}

.home-text .title-home{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.home-text .subtitle-home{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    margin-right: auto;
}

.home-btn:hover{
    background: var(--secundary-color);
}

.home-image img{
    width: 100%;
}


.right{
    flex-direction: row-reverse;
   
}

.btn-right{
    margin-left: auto;
    margin-right: 0;
}