main{

    margin-top: 10%;
}

.gray-background{
    margin-top: 5%;
    background-color: var(--contrast-color);
}

.gray-background .page-content .cols img{
    width: 100%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: transform 1s ease;

}

.gray-background .page-content .cols img:hover{

    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.page-content{

    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}



.title-section{

    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.border-subtitle{
    width: 100px;
    height: 5px;
    background-color: var(--secundary-color);
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}


  .featured-products {
    padding: 2rem;
    background-color: #f7f7f7;
  }
  
  
  .products-grid {
    display: grid;
    justify-content: center;
    padding: 4rem 6rem 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .product-card {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.7s ease;
    transition: transform 0.7s ease;
  }

  .product-card:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0.1rem 0.5rem #ccc;
    transition: 0.8s;
    
}
  
  .product-card img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .product-card h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;

  }
  
  .product-card p {
    color: var(--primary-color);
    font-weight: 600;
  }

  .rate{
    color: #FFA840;
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: #d63a25;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
  }
  
  .button:hover {
    background-color: #b32f1e;
  }

  .see-all {
    text-align: center;
    margin-top: 2rem;
  }

  .original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
  }
  
